:root {
  --hijau-tua: #0a3812;
  --hijau: #1ea029;
  --hijau-muda: #04ff04;
  --hitam: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--hitam);
  color: #fff;
  /* min-height: 3000px; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgb(1, 1, 1, 0.8);
  border-bottom: 1px solid #20662c;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--hijau-muda);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 0.5rem;
}

.navbar .navbar-nav a:hover {
  color: var(--hijau-muda);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--hijau-muda);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--hijau-muda);
}

#hamburger-menu {
  display: none;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/digital-green.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--hijau-muda);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  color: var(--hijau-muda);
  background-color: var(--hijau-tua);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.about,
.menu,
.contact {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.menu h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h3 span,
.about h2 span,
.menu h2 span,
.contact h2 span {
  color: var(--hijau-muda);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  height: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
  color: var(--hijau-muda);
  font-weight: 200;
}

.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}

.menu p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
  color: var(--hijau-muda);
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 3rem;
}

.menu .row .menu-card img {
  border-radius: 10%;
  width: 250px;
  height: 350px;
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}

.menu .row .menu-card .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  color: var(--hijau-muda);
  background-color: var(--hijau-tua);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.menu .row .menu-card .btn a {
  color: var(--hijau-muda);
  font-weight: 700;
}

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--hijau-tua);
  border: 1px solid var(--hijau-muda);
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: var(--hijau-muda);
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: var(--hijau-muda);
  background-color: var(--hijau-tua);
  cursor: pointer;
}

footer {
  background-color: var(--hijau-tua);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .sosial {
  padding: 1rem 0;
}

footer .sosial a {
  color: var(--hijau-muda);
  margin: 1rem;
}

footer .sosial a:hover,
footer .link a:hover {
  color: var(--hijau-tua);
}

footer .link {
  margin-bottom: 1.2rem;
}

footer .link a {
  color: var(--hijau-muda);
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--hijau);
  font-weight: 700;
}

.kurachat {
  bottom: 330px;
  right: 10px;
  background-color: rgba(5, 255, 26, 0);
  color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 99999999;
  border-radius: 100px;
  padding: 5px 10px 5px 5px;
}

.kurachat span {
  background: rgb(1, 1, 3, 0.5);
  padding: 0.5rem 0.5px;
  color: var(--hijau-muda);
}

.kurachat a {
  color: rgba(0, 0, 0, 0.6);
}

.kuratelp {
  bottom: 220px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 99999999;
  border-radius: 100px;
  padding: 5px 10px 5px 5px;
}

.kuratelp span {
  background: rgb(1, 1, 3, 0.5);
  padding: 0.5rem 0.5px;
  color: white;
}

.kuratelp a {
  color: rgba(0, 0, 0, 0.6);
}

.kuramail {
  bottom: 102px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 99999999;
  border-radius: 100px;
  padding: 5px 10px 5px 5px;
}

.kuramail span {
  background: rgb(1, 1, 3, 0.5);
  padding: 0.5rem 0.5px;
  color: #fff;
}

.kuramail a {
  color: rgba(0, 0, 0, 0.6);
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    bottom: 100%;
    bottom: -1250%;
    margin-left: 0;
    margin-right: 0;
    background-color: var(--hijau-tua);
    width: 90%;
    height: 12vh;
    transition: 0.3ms;
    justify-content: center;
  }

  .navbar .navbar-nav.active {
    bottom: 100%;
  }

  .navbar .navbar-nav a {
    color: var(--hijau-muda);
    font-size: 2rem;
    padding: 1rem;
    left: 10rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0;
  }

  .kurachat {
    bottom: 250px;
    right: 10px;
  }
  .kurachat img {
    width: 50px;
    height: 70px;
  }
  .kurachat span {
    background: rgb(1, 1, 3, 0.5);
    padding: 0.1rem 0.1px;
  }

  .kuratelp {
    bottom: 170px;
    right: 10px;
  }
  .kuratelp img {
    width: 50px;
    height: 70px;
  }
  .kuratelp span {
    background: rgb(1, 1, 3, 0.5);
    padding: 0.1rem 0.1px;
  }

  .kuramail {
    bottom: 90px;
    right: 10px;
  }
  .kuramail img {
    width: 50px;
    height: 70px;
  }
  .kuramail span {
    background: rgb(1, 1, 3, 0.5);
    padding: 0.1rem 0.1px;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    bottom: 100%;
    bottom: -1250%;
    margin-left: 0;
    margin-right: 0;
    background-color: var(--hijau-tua);
    width: 90%;
    height: 12vh;
    transition: 0.3ms;
    justify-content: center;
  }

  .navbar .navbar-nav.active {
    bottom: 100%;
  }

  .navbar .navbar-nav a {
    color: var(--hijau-muda);
    font-size: 1.2rem;
    padding: 1rem;
    left: 10rem;
  }

  .kurachat {
    bottom: 250px;
    right: 10px;
  }
  .kurachat img {
    width: 50px;
    height: 70px;
  }
  .kurachat span {
    background: rgb(1, 1, 3, 0.5);
    padding: 0.1rem 0.1px;
  }

  .kuratelp {
    bottom: 170px;
    right: 10px;
  }
  .kuratelp img {
    width: 50px;
    height: 70px;
  }
  .kuratelp span {
    background: rgb(1, 1, 3, 0.5);
    padding: 0.1rem 0.1px;
  }

  .kuramail {
    bottom: 90px;
    right: 10px;
  }
  .kuramail img {
    width: 50px;
    height: 70px;
  }
  .kuramail span {
    background: rgb(1, 1, 3, 0.5);
    padding: 0.1rem 0.1px;
  }
}
